*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
}

@keyframes cards {
    from{-webkit-filter: grayscale(70%) ; transform:  scale(1)}
    to{-webkit-filter: grayscale(0%); transform: scale(1.05)}
}

.system-card{
    display: inline-block;
    border-radius: 0.3em;
    margin-bottom: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-filter: grayscale(70%)
}

.card-img{
    width: 100%;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}


.system-card:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-name: cards;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

.card-footer{
    bottom: 0;
    color: whitesmoke;
    background-color: #444444;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;

}

.card-footer h3{
    margin: 0;
}